html, body, h1, h2, h3, h4, p, div, ul, ol, li {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;

}
body {
    background: url("images/bg1.jpg") repeat;
    font-size: 62.5%;
}
h1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 7em;
    font-weight: bold;
    text-align: center;
    color : white;
    text-shadow: -5px -3px gray ;
}
h2 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 3.2em;
    font-weight: 100;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    color: white;
}
h2 strong {
    font-weight: 700;
}
h3{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.8em;
    font-weight: 300;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    padding-top: 20px;
    /*font-weight: bold;*/
    border-bottom: 1px solid white;
    color: white;

}
a{
    text-decoration: none;
    color: indianred;

}

.header {
    /*background-color: gainsboro;*/
}
.tag-line {
    /*background-color: black;*/
   background: url("images/tag-bg2.jpg") no-repeat;
    color: white;
    padding: 10px 0 10px 0;
}
.education, .projects, .skills {
    /*background-color: gainsboro;*/
    width: 700px;
   margin: 0 auto;
    font-size: 2.2em;
    color: white;

}
.education li {
    margin-top: 10px;
    display: block;
    text-align: center;
}
.education p {
    text-align: center;
    font-size: 0.81em;
}
.education li, em{
    font-size: 1em;
}
.projects li {
    text-align: center;
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 10px;

}
.projects p em {
    font-size: 0.64em;

}
.skills ul {
    margin-top: 10px;
    margin-bottom: 10px;
}
.skills li {

    background-color: black;
    /*background: url("images/skills-bg.jpg") center no-repeat;*/
    /*color: black;*/
    /*list-style-type: none;*/
    display: inline-block;
    padding: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    color : white;
    transition: background-color 0.4s, color 0.4s, transform 0.6s;


}
.skills li:hover {
    background-color: white;
    color: black;
    cursor: default;
    transform: scale(0.9);
}
.skills li:nth-child(1){
    margin-left: 30px;
}
.footer {
    /*background-color: gainsboro;*/
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 6px;

}
.footer  a {
    font-size: 1em;
    color: white;
    margin-right: 10px;
}
.footer h3{
    margin-bottom: 10px;
}
.footer p {
    font-size: 1em;
    display: inline;
    margin-right: 10px;
    margin-top: 10px;


}

#fb{

    background: url("images/social.PNG") -7px -7px;
    width: 38px;
    height: 36px;
    border: 1px solid black;

}
#linkedin {
    background : url("images/social.PNG") -127px -8px;
    width: 38px;
    height: 36px;
    border: 1px solid black;
}
/*@keyframes swing {
    0%{transform: translateX(40px);}

    50%{transform: translateX(-40px);}

    100%{transform: translateX(40px);}
}
.header h1{
    animation: swing 2s 0s infinite ease-in-out;
}*/






